@import url(https://fonts.googleapis.com/css?family=Quicksand|Oswald|Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Oxygen|Rajdhani|Josefin+Sans);
@import url('https://fonts.googleapis.com/css?family=Acme');


html {
  min-height: 100%;
}

.name {
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    text-decoration: underline;
}

breadcrumb {
    text-align: center;
}

tr:hover {
    background-color: aqua;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    background-color: #000000;
    min-height: 100%;
    position: relative;
    color: #FFFFFF;
    z-index: 9;
    background-image: url(/images/Sinnoh.png);
    background-repeat: round;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    color: #000000;
}

table, th, tr, td {
    border-color: #000000;
    border: 2px solid #000000;
    background-color: #696867;
}

ryantable {
    background-color: rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .5);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.5;
background-repeat: repeat;
    background-image: url("/images/snow-transparent.gif");
}

.center {    
     margin-left:auto; 
    margin-right:auto;
}

hr{
   border: 2px solid #000000;
}

.trainer{
height: 110px;
    width: auto;
    text-align: center;
}

.badgeyes {
    height: auto;
    width: auto;
    opacity: 1;
}

.nobadge {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: auto;
    width: auto;
    opacity: 0.25;
}

.level {
    font-size: 15px;
}

td {
    padding: 10px;
    text-align: center;
}

.water {
    color: #6890F0;
}

.fire {
    color: #F08030;
}

.grass {
    color: #4ac200;
}

.normal {
    color: #e0c89c;
}

.psychic {
    color: #F85888;
}

.poison {
    color: #c14fff;
}

.ground {
    color: #E0C068;
}

.rock {
    color: #B8A038;
}

.flying {
    color: #A890F0;
}

.electric {
    color: #F8D030;
}

.steel {
    color: #4e8cff;
}

.ghost {
    color: #ab86e8;
}

.dark {
    color: #4e8cff;
}

.fighting {
    color: #4e8cff;
}

.bug {
    color: #A8B820;
}

.ice {
    color: #98D8D8;
}

.dragon {
    color: #4e8cff;
}

.centur {
    text-align: center;
}

.table-dan:hover {
      background-color: #2dad1c;
}

pokedex {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}