@import url(https://fonts.googleapis.com/css?family=Quicksand|Oswald|Poiret+One);

body {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

table, th, td, table-bordered {
    border: 2px solid #000000;
}

